.sidenav {
  grid-area: sidenav;
  background: var(--fundo-1);
  padding: 30px;
}

.sidenav-lista a {
  background-color: var(--w);
  display: block;
  min-width: 60px;
  max-width: 100px;
  margin: 0 auto 30px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  transition: 0.1s ease-out;
}

.sidenav-lista a:hover {
  background-color: var(--p2);
}
